@import url('fonts/fontawesome.css');
@import url('fonts/inter.css');
@import url('fonts/robotomono.css');


html, body, button, input, select {
    font-family: 'Inter';
}

pre {
    font-family: 'RobotoMono';
}

html, body {
    margin: 0;
}
