@import 'color';
@import 'shadow';


html, body {
    height: 100%;
    user-select: none;
    cursor: default;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    .disconnected, .loading {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .login {
        @include shadow-4dp;
        display: grid;
        grid-template-columns: auto auto;
        gap: 0.5rem;
        padding: 1rem;
        background-color: $color-grey-50;

        .message {
            grid-column: 1 / 3;
            border: 0.2rem solid $color-red-200;
            background-color: white;
            padding: 0.5rem;
        }

        label {
            justify-self: right;
        }

        button {
            grid-column-start: 2;
        }
    }
}
