@import 'fonts/fontawesome';
@import 'fonts/inter';
@import 'fonts/robotomono';


html, body, button, input, select {
    font-family: 'Inter';
}

pre {
    font-family: 'RobotoMono';
}

html, body {
    margin: 0;
}

